<h3><%= t(:shipping_addresses, :scope => :address_book) %></h3>
<br/>
<a name='addresses'></a>
<div id="new_address_link">
  <%= link_to t(:add_new_shipping_address, :scope => :address_book), :controller => :addresses, :action => :new %>
</div>
<br/>
<% if spree_current_user.addresses.present? %>
    <%= render partial: "address", collection: spree_current_user.addresses.order("lastname asc, firstname asc") %>

<% else %>
  <div id="users-address-list-empty">
    <%= t(:no_shipping_addresses_on_file, :scope => :address_book) %>
  </div>
<% end %>
